@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}
h1, h2 {
  text-align: center;
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 10px;
  padding: 10px;
}
.imglist img {
  width: auto;
  height: 100px;
  border: 2px solid black;
}

/***********************/
/* THEME CHANGES */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  /* border: 1px solid chartreuse; */
}
.switch {
  position: relative;
  height: 34px;
  width: 60px;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: lightslategray;
  border: 1px solid black;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  top: 2px;
  background-color: purple;
  border: 1px solid black;
  -webkit-transition: .8s;
  transition: .8s;
  /*this controls speed of transition*/
}
input:checked + .slider {
  background-color: black;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.light {
  background-color: lightslategray;
}
.dark {
  background-color: black;
}

/***********************/
/* SECOND NAV */
.secondnav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  padding: 10px;
  margin-top: 10px;
  /* border: 3px solid red; */
}
.secondnav li {
  display: flex;
  justify-content: center;
  width: 25%;
  padding: 5px;
  background-color: rgba(221, 199, 221, 0.5);
  border-style: dotted;
  /* border: 1px solid hotpink; */
}

/***********************/
/* Color Picker */
.colorpicker {
  width: 100%;
  /* border: 1px solid chartreuse; */
}
.colorcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.colorcontainer button {
  height: 50px;
  width: 100px;
}


/***********************/
/* Color Scroll */
.colorscroll {
  width: 100%;
  /* border: 1px solid chartreuse; */
}
.colorscroll button {
  height: 50px;
  width: 100px;
}


/***********************/
/* DROP DOWN */
.arrow {
  height: 20px;
  width: auto;
}
.dropdownwrapper {
  border-top: 1px solid purple;
  background: lightslategray;
  cursor: pointer;
}
.dropdown {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 50px;
  width: 20%;
  /* border: 1px solid red; */
}
.dropdown li {
  justify-content: left;
  /* border: 1px solid salmon; */
}
.dropdown:active .dropdownitems {
  visibility: visible;
  height: 20%;
  transition: 6s ease;
  transition-delay: 6s;
  margin-top: 10px;
 }
 .itemswrapper {
   display: flex;
   justify-content: center;
   /* border: 1px solid fuchsia */
 }
 .dropdownitems {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  /* visibility: visible; */
  height: 50px;
  width: 100%;
  transition: height 6s ease-out;
  transition-delay: 6s;
  background-color: whitesmoke;
 }


/***********************/
/* TRAFFIC LIGHT */
.trafficlight {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lightwrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 350px;
}
.trafficlightcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 250px;
  width: 100px;
  border-radius: 5px;
  background-color: black;
}
.white {
  background-color: white;
  height: 65px;
  width: 65px;
  border-radius: 50px;
}
.red {
  background-color: #f00;
  height: 65px;
  width: 65px;
  border-radius: 50px;
}
.yellow {
  background-color: yellow;
  height: 65px;
  width: 65px;
  border-radius: 50px;
}
.green {
  background-color: green;
  height: 65px;
  width: 65px;
  border-radius: 50px;
}
.trafficlight button {
  height: 50px;
  width: 100px;
}
